# Build dir
/target/
# Python virtual env
/venv/
# Temporary dev files
/tmp/
/repos/

# Local config files, tmp files
.envrc
.ignore
# Misc
/.nvim/
/schema.json

# Unwanted files - mapfiles, binary, etc.
/*.map
*.bin
/renode/*.svd
__pycache__
*.pyc

# smlang
statemachine*.svg
